/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	GLOBAL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	QWidget {

		background-color: #fff;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	TYPO
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	QLabel {

		margin: 0 20px;
		font-weight: bold;
	}

	QLabel#title {

		font-size: 16px;
		color: #B3B3B3;
	}


	QLabel#small, #status-label {

		font-size: 12px;
		font-weight: normal;
		margin: 0;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	BUTTONS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	QPushButton {

		height: 36px;
		border: 1px solid #378ADC;
		background: #378ADC;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		border-radius: 18px;
		margin: 0px 20px;
	}


	QPushButton:hover {
		
		border-color: #1C58A4;
		background: #1C58A4;
		color: #fff;
	}


	QPushButton:disabled, QPushButton#btnRealtime:disabled {
		
		background-color: #fff;
		border-color: #ccc;
		color: #ccc;
	}


	QPushButton:checked, QPushButton#btnRealtime:checked {
		
		background-color: #e84855;
		border-color: #e84855;
		color: #fff;
	}


	QPushButton#secondary, QComboBox#secondary {

		height: 26px;
		border-radius: 13px;
		font-size: 12px;
		background-color: #fff;
		color: #378ADC;
		border-color: #378ADC;
		margin: 0 0 5px 0;
	}


	QPushButton#secondary:hover {
		
		color: #1C58A4;
		border-color: #1C58A4;
	}


	QPushButton#btnRealtime {

		background-color: #40DA5F;
		color: #fff;
		border-color: #40DA5F;
		margin: 0 20px 5px 20px;	
	}
	
	
	QPushButton#btnRealtime:hover {
		
		background-color: #1C58A4;
		border-color: #1C58A4;
		color: #fff;
		margin: 0 20px 5px 20px;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	POPUP	
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	QMessageBox {

		text-align: center;
	}


	QMessageBox QLabel {

		margin: 0;
	}


	QMessageBox QPushButton {

		width: 200px;
		background-color: #378ADC;
		color: #fff;
		border: 1px solid #378ADC;
		margin: 0;
	}


	QMessageBox QPushButton:hover {

		color: #fff;
		background-color: #1C58A4;
		border-color: #1C58A4;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FORM
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	QLineEdit {
		
		height: 36px;
		border: 1px solid #378ADC;
		border-radius: 18px;
		margin: 0 20px 5px 20px;
		color: #378ADC;
		padding: 0 16px;
		font-weight: bold;
	}

	QLineEdit[text=""] { color: #B3B3B3; }
	

	QComboBox {
		
		height: 36px;
		border: 1px solid #378ADC;
		border-radius: 18px;
		margin: 0 20px 5px 20px;
		color: #378ADC;
		font-weight: bold;
		padding: 0 0 0 16px;
	}

	QComboBox:hover {
		
		border-color: #378ADC;
	}


	QComboBox QAbstractItemView {
   
    	border: 1px solid #B3B3B3;
    	selection-background-color: #fff;
		padding: 10px;
	}


	QComboBox::drop-down:button {
		
		background-color: transparent;
		width: 40px;
		
	}


	QComboBox::down-arrow {
		
		image: url(://svg/icons/qcombobox-arrow.svg);
		width: 26px;
		height: 26px;
		padding: 5px;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MAIN NAVI
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	QMenu::item:selected {
		color: #1C58A4;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MAIN NAVI
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	#status-label {

		margin: 0 20px;
		color: #B3B3B3;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	TAB BAR
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

	QTabWidget, QTabWidget::pane {
		
		border: 0;
		background: #fff;
	} 


	QTabBar {
		qproperty-drawBase: 0;
	}


	QTabBar::tab {
		
		width: 100px;
		height: 22px;
		border-radius: 10px;
		background: #C7E3FF;
		font-size: 12px;	
		color: #378ADC; 
		padding: 0;	
		margin: 0 5px;
		border: 0;
	} 


	QTabBar::tab:selected { 
		
		background: #378ADC;
		color: #fff; 
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	RENDERER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	QTabBar {

	}


	QGraphicsView {
		
		border: 0;
	}
